.spot-table img {
    width: 200px;
    height: 200px;
}

/* .spot-table {
    display: flex
} */

.parent-flex-container {
    display: flex;
    gap: 2px;
}

.stuffss-1 img{
    width: 400px;
    height: 400px;
}

.show-header {
    display: flex;
    height: 100px;
}

.show-header h1 {
    font-size: 40px;
}

.under-image-container {
    max-width: 400px;
}

.under-image-text {
    font-size: 30px;
}

.under-image-text-2 {
    font-size: 20px;
}

.mapped-images-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 2px;
}

.header-stuff {
    display: flex;
    height: 30px;
}

.reviews-container.active {
    width: 400px;
}

.reviews-specific {
    border: solid 2px;
    border-radius: 5px;
    margin: 3px;
    padding-left: 5px;
}

.callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
    background: gray
}

/* Callout header */
.callout-header {
    padding: 25px 15px;
    /* background: #555; */
    font-size: 30px;
    color: white;
}

/* Callout container/body */
.callout-container {
    padding: 15px;
    /* background-color: #ccc; */
    color: black;
    display: flex;
    justify-content: center;
}
