.spot-table img {
    width: 200px;
    height: 200px;
}

/* .spot-table {
    display: flex
} */

.parent-flex-container {
    display: flex;
    gap: 2px;
}

.stuffss-1 img{
    width: 400px;
    height: 400px;
}

.show-header {
    display: flex;
    height: 100px;
}

.show-header h1 {
    font-size: 40px;
}

.under-image-container {
    width: 400px;
}

.under-image-text {
    font-size: 30px;
}

.under-image-text-2 {
    font-size: 20px;
}

.mapped-images-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 2px;
}

.header-stuff {
    display: flex;
    height: 30px;
}

.reviews-container.active {
    width: 400px;
}

.reviews-specific {
    border: solid 2px;
    border-radius: 5px;
    margin: 3px;
    padding-left: 5px;
}

.under-image-flex {
    display: flex;
}

.callout {
    margin-left: 50px;
    margin-top: 10px;
    width: 300px;
    background: lightgrey;
    /* display: flex;
    flex-direction: column; */
    border: solid 3px;
    position: fixed;
    bottom: 230px;
    right: 300px;
}

/* Callout header */
.callout-header {
    padding: 10px 15px;
    /* background: #555; */
    font-size: 20px;
    color: black;
}

/* Callout container/body */

.callout-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.callout-container button{
    padding: 3px;
    /* background-color: #ccc; */
    color: black;
    /* display: flex;
    justify-content: center; */
    font-size: 25px;
}
