.create-spot-container {
    display: flex;
    flex-direction: column;
}

.create-spot-container h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.create-spot-sub {
    display: flex;
    flex-direction: column;
}

.create-spot-sub section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-spot-sub p {
    color: red;
}

.create-spot-sub h2 + div {
    font-size: large;
}

.create-spot-sub input {
    max-width: 400px;
}

.create-spot-sub textarea {
    max-width: 400px;
    height: 70px;
}

.submit-booton {
    border: solid 1px;
    border-radius: 25px;
    background-color: white;
    width: 200px;
    height: 70px;
    font-size: 2em;
    margin: 20px
}

.submit-booton:hover {
    background-color: whitesmoke;
}
